@import url("../fonts/Montserrat.css");

.light {
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
}

.regular {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
}

.bold {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
}

.background-first {
    background-image: url(../img/sections-background/section-1\(header\).jpg);
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.content-container {width: 1160px;}

.header-fl {
    display: flex;
    justify-content: space-between;
    height: 100%;
}

.header-container {
    background-color: rgba(0,0,0,0.64);
    height: 120px;
    position: fixed;
    top: 0;
    width: 100%;
    display: flex;
    justify-content: center;
}

.logo {
    text-decoration: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.logo-img {
    margin-right: 8px;
}

.logo::after {
    content: 'H';
    color: #fff;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 40px;
    position: absolute;
    left: 13px;
}

.logo-text {
    color: #fff;
    font-size: 24px;
}

.accent {color: #18cfab;}

.logo-ac {
    font-size: 24px;
}

.link {text-decoration: none;}

.header-menu {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.header-menu > ul {
    list-style-type: none;
    padding-left: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 644px;
    box-sizing: border-box;
}

.header-menu li {
    text-transform: uppercase;
    font-size: 13px;
    color: #bbbbbb;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    transition: color 0.2s;
}

.header-menu a {
    padding: 53px 0 53px 0;
    box-sizing: border-box;
    border-bottom: 2px solid transparent;
    transition: border-bottom 0.2s;
}

.header-menu a:hover:not(.search) {
    border-bottom: 2px solid #18cfab;
}

.header-menu a:hover > li {color: #18cfab;}

.search {margin-left: 17px;}

.hero {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 366px 0 244px 0;
}

.hero-text {
    text-align: center;
    color: #fff;
    text-transform: uppercase;
}

.hero-slogan {
    font-size: 35px;
    margin-bottom: 45px;
}

.hero-par {
    font-size: 69px;
    margin-bottom: 37px;
}

.buy {
    color: rgba(212, 212, 212, 255);
    font-weight: 300;
    text-transform: capitalize;
    font-size: 30px;
}

.cta-buttons {
    margin-top: 142px;
    display: flex;
    justify-content: space-between;
    width: 360px;
}

.cta {
    text-align: center;
    width: 166px;
    padding: 26px 0;
    text-transform: uppercase;
    color: #fff;
    font-size: 13px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    background-color: #18cfab;
    border-radius: 5px;
    box-shadow: 0 -4px white;
}

.cta:nth-child(2) {
    background-color: #00cbf6;
}

.card-container {
    width: 100%;
    /* height: 374px; */
    display: flex;
    align-items: baseline;
}

.big-card {
    flex: 1;
    text-align: center;
    padding-top: 78px;
    background-color: #1c2a33;
    border-top: 7px solid #18cfab;
    color: #18cfab;
}

.big-card:nth-child(2n) {
    padding-top: 99px;
    background-color: #18cfab;
    color: #fff;
    border-top: 7px solid #fff;
}

.card-text {
    margin: 48px 0 120px;
    text-transform: uppercase;
    font-size: 20px;
}

.our-services {
    padding: 82px 0 103px 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    background-color: #fff;
}

.our-services-heading {
    color: #4e4e4e;
    font-size: 36px;
    margin-bottom: 112px;
    position: relative;
}

.our-services-heading::before {
    content:'';
    height: 1px;
    width: 76px;
    background-color: #18cfab;
    position: absolute;
    bottom: -37px;
    left: 68px;
}

.our-services-heading::after {
    content:'';
    height: 1px;
    width: 76px;
    background-color: #18cfab;
    position: absolute;
    bottom: -41px;
    left: 80px;
}

.tab-group {
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 25px;
}

.our-services-tab {
    color: #717171;
    font-size: 16px;
    width: 192px;
    padding: 28px 0 29px 0;
    background-color: #f8fcfe;
    border: 1px solid #ebebeb;
    text-align: center;
    vertical-align: middle;
    position: relative;
}

.our-services-tab[data-selected='yes']::after {
    content: '';
    height: 0;
    width: 0;
    border-left: 12px solid transparent;
    border-right: 12px solid transparent;
    border-top: 13px solid #18cfab;
    position: absolute;
    top: 74px;
    left: 45%;
}

.our-services-tab[data-selected='yes'] {
    color: #fff;
    background-color: #18cfab;
    border: 1px solid #18cfab;
}



.our-services-tab:hover {
    color: #fff;
    background-color: #18cfab;
    border: 1px solid #18cfab;
}

.our-services-par {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.our-services-par.hidden {
    display: none;
}

.our-services-img {
    align-self: flex-start;
    flex-basis: 194px;
    flex-shrink: 0;
    margin-right: 20px;
}

.our-services-text {
    color: #777777;
    font-size: 14px;
    text-align: justify;
    align-self: stretch;
    line-height: 1.5;
}

.background-second {
    background-image: linear-gradient(rgba(0,0,0,0.80), rgba(0,0,0,0.80)), url(../img/sections-background/section-2.jpg);
    background-size: cover;
    width: 100%;
}

.install-now {
    padding: 128px 0 128px 0;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.buy-and-install {
    color: #18cfab;
    font-size: 40px;
    text-transform: uppercase;
    margin-bottom: 35px;
}

.install-text {
    font-size: 16px;
    color: rgba(216, 216, 216, 255);
    margin-bottom: 76px;
}

.background-our-work {
    background-color: #f8fcfe;
    width: 100%;
}

.our-work {
    padding: 96px 0 100px 0;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.our-work-heading {
    font-size: 36px;
    color: #4e4e4e;
    margin-bottom: 101px;
    position: relative;
}

.our-work-heading::before {
    content:'';
    height: 1px;
    width: 76px;
    background-color: #18cfab;
    position: absolute;
    bottom: -26px;
    left: 129px;
}

.our-work-heading::after {
    content:'';
    height: 1px;
    width: 76px;
    background-color: #18cfab;
    position: absolute;
    bottom: -30px;
    left: 141px;
}

.our-work-tabs {
    margin-bottom: 71px;
    width: 609px;
}

.our-work-tab {
    font-size: 14px;
    color: #717171;
    padding: 24px 0 20px 0;
    background-color: #fff;
    border: 1px solid #ebebeb;
    text-align: center;
    vertical-align: middle;
    flex: auto;
    border-top: 2px solid transparent;
    transition: border-top 0.2s;
}

.our-work-tab:hover {
    border-top: 2px solid #18cfab;
}

.work-cards-container {
    display: flex;
    flex-wrap: wrap;
    padding: 0 10px 0 10px;
    box-sizing: border-box;
    margin-bottom: 71px;
}

.work-card {
    position: relative;
    overflow: hidden;
    flex: 1 0 25%;
}

.work-card:hover > .tooltip-text {
    bottom: 0;
    border-top: 3px solid #18cfab;
    box-sizing: border-box;
}

.our-work-card-img {
    height: 100%;
}

.tooltip-text {
    position: absolute;
    bottom: -210px;
    text-align: center;
    width: 100%;
    height: 100%;
    background-color: #fff;
    transition: bottom 0.3s;
}

.icons {
    margin-top: 43px;
    margin-bottom: 34px;
}

.card-name {
    margin-bottom: 13px;
    text-transform: uppercase;
    font-size: 24px;
    color: #18cfab;
}

.card-category {
    margin-bottom: 52px;
    font-size: 20px;
    color: rgba(138, 138, 138, 255);
}

.load {
    box-shadow: unset;
    width: unset;
    padding: 25px 21px 25px 54px;
    font-size: 14px;
    line-height: 0.75;
    position: relative;
}

.load::before {
    content:'';
    position: absolute;
    left: 23px;
    top: 23px;
    background-image: url(../img/Plus.png);
    width: 16px;
    height: 16px;
}

.svg-circle {
    width: 40px;
    height: 41px;
}

.svg-circle:first-child {
    margin-right: 5px;
}

.background-news {
    background-color: #fff;
    width: 100%;
}

.news {
    margin: 0 auto;
    padding: 84px 10px 133px 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.news-header {
    font-size: 36px;
    color: #4e4e4e;
    position: relative;
    margin-bottom: 105px;
}

.news-header::before {
    content:'';
    height: 1px;
    width: 76px;
    background-color: #18cfab;
    position: absolute;
    bottom: -30px;
    left: 89px;
}

.news-header::after {
    content:'';
    height: 1px;
    width: 76px;
    background-color: #18cfab;
    position: absolute;
    bottom: -34px;
    left: 101px;
}

.news-cards {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-content: space-between;
}

.news-card-item {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 23%;
    margin-bottom: 45px;
}

.news-card-bg {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  padding-bottom: 56.25%;
  box-sizing: border-box;
}

.news-date {
    background-color: #203e38;
    font-size: 16px;
    color: #fff;
    padding: 14px 0 15px 0;
    text-align: center;
    box-sizing: border-box;
    width: 68px;
    margin-left: auto;
}

.news-date-item:first-child {margin-bottom: 10px;}

.card1 {background-image: url(../img/breaking-news/card1.png);}

.card2 {background-image: url(../img/breaking-news/card2.png);}

.card3 {background-image: url(../img/breaking-news/card3.png);}

.card4 {background-image: url(../img/breaking-news/card4.png);}

.card5 {background-image: url(../img/breaking-news/card5.png);}

.card6 {background-image: url(../img/breaking-news/card6.png);}

.card7 {background-image: url(../img/breaking-news/card7.png);}

.card8 {background-image: url(../img/breaking-news/card8.png);}

.color-bg {
    background-color: #f8fcfe;
    text-align: left;
    padding: 14px 0 12px 13px;
    border: 1px solid #ebebeb;
    box-sizing: border-box;
    color: rgba(119, 119, 119, 255);
}

.color-bg>p:first-child {margin-bottom: 14px;}

.news-card-name {font-size: 18px;}

.news-card-stats {font-size: 14px;}

.news-card-item:hover .news-date {
     background-color: #18cfab;
}

.news-card-item:hover .news-card-name {
    color: #18cfab;
}

.background-third {
    background-image: url(../img/sections-background/section-3.jpg);
    background-size: cover;
    background-position: center center;
    width: 100%;
}

.about-ham {
    padding: 98px 0 104px 0;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.about-ham-heading {
    color: #fff;
    font-size: 36px;
    margin-bottom: 178px;
    position: relative;
}

.about-ham-heading::before {
    content:'';
    height: 1px;
    width: 76px;
    background-color: #18cfab;
    position: absolute;
    bottom: -31px;
    left: 248px;
}

.about-ham-heading::after {
    content:'';
    height: 1px;
    width: 76px;
    background-color: #18cfab;
    position: absolute;
    bottom: -35px;
    left: 260px;
}

.about-ham-quote {
    color: rgba(187, 187, 187, 255);
    font-size: 16px;
    text-align: center;
    line-height: 1.5;
    margin-bottom: 43px;
    position: relative;
}

.about-ham-quote::before {
    content:'';
    height: 30px;
    width: 44px;
    background-image: url(../img/quote.png);
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    top: -43px;
    left: 560px;
}

.about-ham-carousel {
    text-align: center;
}

.carousel-text {
    text-align: center;
    line-height: 1.5;
    margin-bottom: 27px;
}

.about-ham-name {
    font-size: 16px;
    color: #18cfab;
}

.job-title {
    color: #a3a7a8;
    font-size: 16px;
}

.about-lightbox-img {
    text-align: center;
    width: 143px;
    height: 142px;
    margin-bottom: 65px;
}

.carousel-controls {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 490px;
    margin: 0 auto;
}

.about-lightbox-img {
    width: 145px;
    height: 145px;
    box-sizing: border-box;
    border-radius: 50%;
    object-fit: cover;
    border: 3px solid #18cfab;
    box-shadow: 0 0 0 15px #18cfab18;
}

.face-img {
    border-radius: 50%;
    box-sizing: border-box;
    box-shadow: 0 0 0 3px #18cfab32;
    object-fit: cover;
    width: 61px;
    height: 61px;
}

.face1 {
    border: 1px solid #18cfab;
    position: relative;
    bottom: 11px;
}

.arrows {
    box-sizing: border-box;
    width: 31px;
    height: 31px;
    border: 1px solid #bbbbbb;
    display: flex;
    justify-content: center;
    align-items: center;
}

.arrow-selected {
    background-color: #18cfab;
    border: 1px solid #18cfab;
}





.footer {
    width: 100%;
    text-align: center;
    padding: 47px 0 47px 0;
    background-color: #22353f;
}

.footer-text {
    font-size: 14px;
    color: rgba(174, 174, 174, 255);
}
