@import url("../fonts/Montserrat.css");

.light {
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
}

.regular {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
}

.bold {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
}

.background-first {
    background-image: url(../img/sections-background/section-1\(header\).jpg);
    background-size: cover;
    height: 1012px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.content-container {width: 1160px;}

.header-fl {
    display: flex;
    justify-content: space-between;
    height: 100%;
}

.header-container {
    background-color: rgba(0,0,0,0.64);
    height: 120px;
    position: fixed;
    top: 0;
    width: 100vw;
    display: flex;
    justify-content: center;
}

.logo {
    text-decoration: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.logo-img {
    margin-right: 8px;
}

.logo::after {
    content: 'H';
    color: #fff;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 40px;
    position: absolute;
    left: 13px;
}

.logo-text {
    color: #fff;
    font-size: 24px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
}

.accent {color: #18cfab;}

.logo-ac {
    font-size: 24px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
}

.link {text-decoration: none;}

.header-menu {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.header-menu > ul {
    list-style-type: none;
    padding-left: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 644px;
    box-sizing: border-box;
}

.header-menu li {
    text-transform: uppercase;
    font-size: 13px;
    color: #bbbbbb;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    transition: color 0.2s;
}

.header-menu a {
    padding: 53px 0 53px 0;
    box-sizing: border-box;
    border-bottom: 2px solid transparent;
    transition: border-bottom 0.2s;
}

.header-menu a:hover:not(.search) {border-bottom: 2px solid #18cfab;}

.header-menu a:hover > li {color: #18cfab;}

.search {margin-left: 17px;}

.hero {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin: 120px 0 50px;
}

.hero-text {
    text-align: center;
    color: #fff;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    text-transform: uppercase;
}

.hero-slogan {
    font-size: 35px;
    margin-bottom: 45px;
}

.hero-par {
    font-size: 69px;
    margin-bottom: 37px;
}

.buy {
    color: rgba(212, 212, 212, 255);
    font-weight: 300;
    text-transform: capitalize;
    font-size: 30px;
}

.cta-buttons {
    margin-top: 142px;
    display: flex;
    justify-content: space-between;
    width: 360px;
}

.cta {
    text-align: center;
    width: 166px;
    padding: 26px 0;
    text-transform: uppercase;
    color: #fff;
    font-size: 13px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    background-color: #18cfab;
    border-radius: 5px;
    box-shadow: 0 -4px white;
}

.cta:nth-child(2) {
    background-color: #00cbf6;
}

.card-container {
    width: 99vw;
    height: 374px;
    display: flex;
    align-items: baseline;
}

.big-card {
    flex: 1;
    text-align: center;
    padding-top: 78px;
    background-color: #1c2a33;
    border-top: 7px solid #18cfab;
    color: #18cfab;
}

.big-card:nth-child(2n) {
    padding-top: 99px;
    background-color: #18cfab;
    color: #fff;
    border-top: 7px solid #fff;
}

.card-text {
    margin: 48px 0 120px;
    text-transform: uppercase;
    font-size: 20px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
}

